<div class="jumbotron">
  <h1>HOLA MUNDO</h1>
</div>

<h1>Alumnos Registrados</h1>
<% @users.each do |u| %>
<p><%= u %></p>
<% end %>

<script>
	$.backstretch("http://lorempixel.com/400/200");
</script>