<h1>Alumnos Registrados</h1>
<% @users.each do |u| %>
<p><%= u %></p>
<% end %>

<img src="http://lorempixel.com/400/200" />

<img src="http://lorempixel.com/350/200" />

<button id="boton">Asignar fondo</button>

<script>
	$("#boton").click(function(e) {
		e.preventDefault();
		$.backstretch('http://lorempixel.com/350/200');
	});
</script>