<!DOCTYPE html>
<html>
<head>
  <title>Projtaller</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.backstretch.min" %>
</head>
<body>

SEGUNDO LAYOUT
<!-- segundo layout -->
<div class="container">
	<%= yield %>
</div>

</body>
</html>
